@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row">
        <p><img src="~/content/cymbal.png" /></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">About</h2>
            <p>
                Cymbal Coffee is a direct-to-consumer coffee retailer and manufacturer. Founded
                in 1990, Cymbal Coffee (originally ‘Robs Coffee’) is a fair trade and B Corp certified
                sustainability-focused company that works with coffee bean farmers to reinvest in their communities.

            </p>
            <p><a class="btn btn-outline-dark" href="">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Growth </h2>
            <p>In 2005, Cymbal Coffee acquired a factory to start manufacturing own-brand coffee machines.</p>
            <p>In 2010, Cymbal Coffee acquired a company to grow our own beans and support farmers.</p>
            <p>In 2017 Cymbal Coffee acquired a company to manufacture sustainable paper lids.</p>
            <p><a class="btn btn-outline-dark" href="">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Find Beans</h2>
            <p>Use our portal to find the right beans for your tastes.</p>
            <p align="center"><img src="~/content/coffee.png" /></p>
            <p><a class="btn btn-outline-dark" href="">Learn more &raquo;</a></p>
        </section>
    </div>
</main>
